a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  height: 100vh;
  color: #333;
  font: 16px/1.4 Arial, sans-serif, "Microsoft JhengHei";
  background: url("../images/the-urban-landscape-1698285.png") repeat-y;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

a {
  color: #333;
  text-decoration: none;
}

.alink {
  color: #e12f72;
}

img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 100%;
  width: 100%;
  margin: auto;
}

p {
  line-height: 1.5;
}

.footer {
  padding: 9px;
  max-height: 90px;
  text-align: center;
  background: #559ac8;
}
.footer > ul {
  margin: 15px;
  font-size: 14px;
}
.footer > ul > li {
  line-height: 14px;
}
.footer .copyright > li {
  color: #fff;
}
.footer .source > li {
  color: #f5d005;
}

.btn {
  display: inline-block;
  min-width: 95px;
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid transparent;
  text-align: center;
  background: #000;
  vertical-align: middle;
  cursor: pointer;
}
.btn:hover {
  color: #d48787;
  border: 1px solid #d48787;
}

.navArea .btn-area {
  padding: 6px 34px;
}

.hotArea .areaItem:nth-child(4n+1) a {
  background: #8a82cc;
}
.hotArea .areaItem:nth-child(4n+2) a {
  background: #ffa782;
}
.hotArea .areaItem:nth-child(4n+3) a {
  background: #f5d005;
}
.hotArea .areaItem:nth-child(4n+4) a {
  background: #559ac8;
}
.hotArea .areaItem:hover {
  border-color: #e12f72;
}
.hotArea .areaItem:hover a {
  background: #fff;
  color: #e12f72;
}

.page, [class*=page_] > a, [class*=page_], .page_num li,
.page_num li a {
  display: inline-block;
  vertical-align: middle;
}

[class*=page_] > a {
  margin: 0 5px;
  font-size: 14px;
}
[class*=page_]:hover a {
  color: #d48787;
  border-color: #d48787;
}
[class*=page_]:hover a.disabled {
  border: 1px solid #ddd;
}
[class*=page_] > a.disabled {
  color: #ddd;
  cursor: default;
}

.page_num li {
  margin: 0 5px;
  font-size: 14px;
}
.page_num li a,
.page_num li .page_num---a {
  padding: 4px 2px;
  width: 30px;
  height: 30px;
  color: #333;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.page_num li a:hover {
  color: #d48787;
}
.page_num li:hover a,
.page_num li.now a {
  border-color: #d48787;
}

@media screen and (max-width: 1024px) {
  .navArea .areaItem {
    width: calc(25% - 16px);
  }
}
.boxcontainer > .head::before {
  content: "\f292";
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  margin-right: 10px;
}

.fas {
  margin-right: 10px;
  font-size: 14px;
}

.info_box .fas {
  margin: 5px 10px 5px 5px;
  width: 15px;
  height: 15px;
  text-align: center;
  color: #ff7d8c;
  font-size: 14px;
}

.scenic_item .fas {
  font-size: 20px;
  font-weight: bold;
}

.pagebox .fas {
  margin-right: auto;
}

.wticons {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.wticons::before {
  content: "";
  display: inline-block;
  width: 100%;
  padding-top: 100%;
}

.wt_1::before {
  background: url("https://khh.travel/content/images/weather/wt-01.svg");
  background-size: contain;
}
.wt_2::before {
  background: url("https://khh.travel/content/images/weather/wt-02.svg");
  background-size: contain;
}
.wt_3::before {
  background: url("https://khh.travel/content/images/weather/wt-03.svg");
  background-size: contain;
}
.wt_4::before {
  background: url("https://khh.travel/content/images/weather/wt-04.svg");
  background-size: contain;
}
.wt_5::before {
  background: url("https://khh.travel/content/images/weather/wt-05.svg");
  background-size: contain;
}
.wt_6::before {
  background: url("https://khh.travel/content/images/weather/wt-06.svg");
  background-size: contain;
}
.wt_7::before {
  background: url("https://khh.travel/content/images/weather/wt-07.svg");
  background-size: contain;
}
.wt_8::before {
  background: url("https://khh.travel/content/images/weather/wt-08.svg");
  background-size: contain;
}
.wt_9::before {
  background: url("https://khh.travel/content/images/weather/wt-09.svg");
  background-size: contain;
}
.wt_10::before {
  background: url("https://khh.travel/content/images/weather/wt-10.svg");
  background-size: contain;
}
.wt_11::before {
  background: url("https://khh.travel/content/images/weather/wt-11.svg");
  background-size: contain;
}
.wt_12::before {
  background: url("https://khh.travel/content/images/weather/wt-12.svg");
  background-size: contain;
}
.wt_13::before {
  background: url("https://khh.travel/content/images/weather/wt-13.svg");
  background-size: contain;
}
.wt_14::before {
  background: url("https://khh.travel/content/images/weather/wt-14.svg");
  background-size: contain;
}
.wt_15::before {
  background: url("https://khh.travel/content/images/weather/wt-15.svg");
  background-size: contain;
}
.wt_16::before {
  background: url("https://khh.travel/content/images/weather/wt-16.svg");
  background-size: contain;
}
.wt_17::before {
  background: url("https://khh.travel/content/images/weather/wt-17.svg");
  background-size: contain;
}
.wt_18::before {
  background: url("https://khh.travel/content/images/weather/wt-18.svg");
  background-size: contain;
}
.wt_19::before {
  background: url("https://khh.travel/content/images/weather/wt-19.svg");
  background-size: contain;
}
.wt_20::before {
  background: url("https://khh.travel/content/images/weather/wt-20.svg");
  background-size: contain;
}
.wt_21::before {
  background: url("https://khh.travel/content/images/weather/wt-21.svg");
  background-size: contain;
}
.wt_22::before {
  background: url("https://khh.travel/content/images/weather/wt-22.svg");
  background-size: contain;
}
.wt_23::before {
  background: url("https://khh.travel/content/images/weather/wt-23.svg");
  background-size: contain;
}
.wt_24::before {
  background: url("https://khh.travel/content/images/weather/wt-24.svg");
  background-size: contain;
}
.wt_25::before {
  background: url("https://khh.travel/content/images/weather/wt-25.svg");
  background-size: contain;
}
.wt_26::before {
  background: url("https://khh.travel/content/images/weather/wt-26.svg");
  background-size: contain;
}
.wt_27::before {
  background: url("https://khh.travel/content/images/weather/wt-27.svg");
  background-size: contain;
}
.wt_28::before {
  background: url("https://khh.travel/content/images/weather/wt-28.svg");
  background-size: contain;
}
.wt_29::before {
  background: url("https://khh.travel/content/images/weather/wt-29.svg");
  background-size: contain;
}
.wt_30::before {
  background: url("https://khh.travel/content/images/weather/wt-30.svg");
  background-size: contain;
}
.wt_31::before {
  background: url("https://khh.travel/content/images/weather/wt-31.svg");
  background-size: contain;
}
.wt_32::before {
  background: url("https://khh.travel/content/images/weather/wt-32.svg");
  background-size: contain;
}
.wt_33::before {
  background: url("https://khh.travel/content/images/weather/wt-33.svg");
  background-size: contain;
}
.wt_34::before {
  background: url("https://khh.travel/content/images/weather/wt-34.svg");
  background-size: contain;
}
.wt_35::before {
  background: url("https://khh.travel/content/images/weather/wt-35.svg");
  background-size: contain;
}
.wt_36::before {
  background: url("https://khh.travel/content/images/weather/wt-36.svg");
  background-size: contain;
}
.wt_37::before {
  background: url("https://khh.travel/content/images/weather/wt-37.svg");
  background-size: contain;
}
.wt_38::before {
  background: url("https://khh.travel/content/images/weather/wt-38.svg");
  background-size: contain;
}
.wt_39::before {
  background: url("https://khh.travel/content/images/weather/wt-39.svg");
  background-size: contain;
}

.form {
  margin: auto auto 20px;
}
.form .header {
  position: relative;
  max-width: 1024px;
  height: 380px;
  margin: auto;
  text-align: center;
}
.form .content {
  padding: 102px 40px 5px;
  min-height: calc(100vh - 92px);
  background: #fff;
}

.item .box {
  display: none;
}
.item .box > li.nodata {
  display: block;
  padding: 10px;
  color: #fff;
}

.foot {
  position: absolute;
  padding: 5px;
  left: 0;
  right: 0;
  bottom: -40px;
  text-align: center;
}

.KH_travel {
  padding: 20px 0 10px;
}
.KH_travel a {
  display: inline-flex;
  margin: auto;
  width: 180px;
  height: 55px;
  background: url("https://khh.travel/Content/images/global/main-logo-white.png") no-repeat;
  background-size: auto 100%;
  text-indent: -9999px;
  overflow: hidden;
}
.KH_travel::before {
  content: "";
  display: inline-flex;
  clear: both;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.nav > .item {
  border: 1px solid transparent;
  border-radius: 10px;
}
.nav .item > a {
  display: inline-flex;
  justify-content: center;
  width: 155px;
  padding: 7px 5px;
  color: #fff;
  font-size: 20px;
  text-align: center;
}
.nav .actived > .navArea.expand {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  top: 144px;
  left: 0;
  right: 0;
  padding: 5px 10px;
  border-radius: 5px;
  background: #000;
  z-index: 2;
  filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.2));
}
.nav .actived > .navArea.expand::after {
  content: "\f0d8";
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  font-size: 30px;
  margin-left: 80px;
  display: inline-flex;
  position: absolute;
  top: -25px;
  left: 50%;
  color: #000;
  transform: translateX(-50%);
}

.navArea .areaItem {
  margin: 3px 8px;
}

.hotArea {
  flex-direction: column;
  flex-wrap: nowrap;
  position: absolute;
  top: 352px;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 800px;
  padding: 18px 26px;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
  text-align: left;
}
.hotArea > span {
  margin-bottom: 14px;
  font-size: 18px;
  color: #000;
  line-height: 1.6;
}
.hotAreaBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 48px;
  padding: 0 2px;
  overflow: hidden;
}
.hotArea .areaItem {
  margin: 0 15px;
}

.weather {
  margin: 37px auto;
  padding: 10px;
  max-width: 1024px;
  border-radius: 5px;
  background: #eee;
  text-align: center;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}
.weather .title {
  font-size: 20px;
  font-weight: bold;
}
.weather .container {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
}
.weather .container > dl {
  margin-left: 20px;
  min-width: 200px;
  max-width: 300px;
}
.weather .container dl {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 14px;
}
.weather .container dl dt {
  padding: 5px 0;
  color: #5f9ea0;
  font-size: 16px;
  font-weight: bold;
}
.weather .container ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-width: 500px;
}
.weather .container ul > li dl {
  padding: 0 10px;
  text-align: center;
}
.weather .container .Exposure {
  height: auto;
  text-align: left;
}

.boxcontainer {
  position: relative;
  margin-bottom: 44px;
}
.boxcontainer > .head {
  display: inline-flex;
  position: relative;
  left: 50%;
  margin: 0 0 20px;
  padding: 12px 10px;
  transform: translateX(-50%);
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}
.boxcontainer > .head::after {
  content: "";
  position: absolute;
  display: inline-flex;
  left: 0;
  bottom: 12px;
  width: 100%;
  height: 18px;
  background: #ddd;
  z-index: -1;
}
.boxcontainer .scenic {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.line {
  position: relative;
  margin: 37px 0;
  border-top: 1px dashed #559ac8;
}
.line::after, .line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: -12px;
  transform: translateX(-50%);
  color: #559ac8;
  text-align: center;
}
.line::before {
  width: 24px;
  height: 24px;
  border: 1px solid #559ac8;
  border-radius: 100%;
  background: #fff;
  box-sizing: border-box;
}
.line::after {
  content: "\f0d7";
  margin-top: -18px;
  font-family: "Font Awesome 5 Pro";
  font-size: 26px;
  font-weight: 900;
  display: inline-flex;
}

.newBox .scenic_warp figcaption {
  font-size: 28px;
  font-weight: bold;
}

.areaBox .boxcontainer > .body {
  margin-bottom: 40px;
}
.areaBox .boxcontainer .img_box {
  height: 300px;
  border-radius: 10px;
  background: linear-gradient(to top, #000 0, rgba(0, 0, 0, 0.738) 19%, rgba(0, 0, 0, 0.541) 34%, rgba(0, 0, 0, 0.382) 47%, rgba(0, 0, 0, 0.278) 56.5%, rgba(0, 0, 0, 0.194) 65%, rgba(0, 0, 0, 0.126) 73%, rgba(0, 0, 0, 0.075) 80.2%, rgba(0, 0, 0, 0.042) 86.1%, rgba(0, 0, 0, 0.021) 91%, rgba(0, 0, 0, 0.008) 95.2%, rgba(0, 0, 0, 0.002) 98.2%, rgba(0, 0, 0, 0) 100%);
}
.areaBox .scenic_warp {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 360px;
}
.areaBox .scenic_item figcaption {
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: auto;
  bottom: 14px;
  left: 22px;
  right: 22px;
}

.pagebox {
  text-align: center;
}

.scenic_warp > .box {
  padding: 10px 20px;
  border-radius: 5px;
  text-align: left;
}
.scenic_warp figure {
  position: relative;
  width: 100%;
  height: 180px;
  overflow: hidden;
}
.scenic_warp .toldescribe {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.scenic_warp .toldescribe {
  color: #959595;
}

.scenic_item {
  width: calc(33.3333333333% - 16px);
  margin: 18px 8px;
  font-size: 16px;
  border: 2px solid #eee;
  overflow: hidden;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}
.scenic_item .head {
  font-size: 20px;
  font-weight: bold;
}
.scenic_item .head:hover .head {
  color: #e12f72;
}
.scenic_item .body {
  margin: 12px 0 0;
}
.scenic_item .body ul > li:not(.toldescribe) {
  color: #e12f72;
}
.scenic_item .body ul > li + li {
  margin-top: 5px;
}
.scenic_item img {
  opacity: 0.5;
  transition: opacity 0.25s;
}
.scenic_item img,
.scenic_item figcaption {
  position: absolute;
}
.scenic_item figcaption {
  top: 50%;
  right: 0;
  left: 0;
  color: #fff;
  font-size: 24px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
  z-index: 1;
  letter-spacing: 2px;
}
.scenic_item:nth-child(even) {
  background: #eee;
}
.scenic_item:hover {
  border: 2px solid #e12f72;
}
.scenic_item:hover img {
  opacity: 1;
}
.scenic_item:hover figcaption {
  color: #ffd1d1;
}

.randomKh_item {
  width: calc(33.3333333333% - 16px);
  margin: 8px;
  text-align: center;
}
.randomKh_item figcaption {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  transform: translateY(-50%);
}
.randomKh_item > a,
.randomKh_item .scenic_warp figure {
  height: 130px;
}

.scenic_title {
  width: calc(100% - 60px);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 1.5;
}
.scenic_area {
  min-width: 50px;
  font-size: 16px;
}

.info_box .head,
.area_box a .title {
  font-size: 20px;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.info_box .head {
  margin-bottom: 5px;
}
.info_box .head > a {
  display: flex;
  margin-bottom: 10px;
}

.area_box .img_box {
  width: 100%;
  text-align: center;
}
.area_box a {
  display: inline-flex;
  margin-right: 50px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.area_box a .title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: calc(100% + 70px);
  height: 15px;
  transform: translateX(-50%);
  background: #fafafa;
  z-index: -1;
}

.area_box,
.area_box .img_box {
  height: 230px;
}

.area_box,
.area_box a .title {
  position: relative;
}

.area_box a,
.area_box .img_box {
  position: absolute;
  padding: 0;
}

.area_box a > i,
.area_box a > .title {
  color: #e12f72;
  vertical-align: middle;
}

.scenicBox .boxcontainer > .body {
  position: relative;
  min-height: calc(100vh - 220px);
  margin: 0 20px;
  padding: 10px;
  background: #fafafa;
  border-radius: 20px;
}
.scenicBox .boxcontainer img {
  border-radius: 10px;
}
.scenicBox .boxcontainer .body > .img_box figcaption {
  color: #333;
  font-size: 16px;
}

.scenicBox .boxcontainer img,
.scenicBox .boxcontainer figcaption {
  position: static;
}

.form:not(.newBox) .info_box.img_box > .body {
  display: inline-flex;
  flex-direction: column;
}
.form:not(.newBox) .info_box.img_box > .body img {
  position: inherit;
}
.form:not(.newBox) .box_area > .body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img_box {
  flex-direction: column;
  flex-wrap: nowrap;
  width: 600px;
  overflow: hidden;
}
.img_box figure + .head {
  margin-top: 15px;
}

.info_box,
.img_box {
  vertical-align: top;
}

.info_box {
  position: relative;
  padding: 10px;
  text-align: left;
}
.info_box > .body {
  font-size: 16px;
}
.info_box > .body > p {
  margin-bottom: 10px;
}
.info_box > .body a {
  display: inline-flex;
  padding: 3px 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.info_box .body > .img_box {
  text-align: center;
}
.info_box .khTravelDataArray {
  width: 250px;
  position: absolute;
  top: 0;
  bottom: 0;
}

.info {
  margin-bottom: 5px;
}
.info dt,
.info dd {
  display: inline-flex;
  vertical-align: top;
  min-height: 25px;
}
.info dt {
  width: 100px;
  font-weight: bold;
  color: #333;
  text-align: right;
}
.info dd {
  margin-left: 10px;
  width: calc(100% - 120px);
}

.info_box:not(.img_box) {
  text-align: left;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px 10px;
  width: calc(100% - 650px);
  border: 1px solid #ddd;
  border-radius: 20px;
}

@media screen and (max-width: 1023px) {
  .form .header {
    max-width: 800px;
  }

  .scenic > li {
    width: calc(50% - 20px);
  }

  .weather {
    max-width: 800px;
  }

  .weather ul + dl {
    max-width: 320px;
    height: auto;
  }

  .item .box > li {
    width: 130px;
  }

  .KH_travel,
.form .nav {
    display: flex;
  }

  .form .header {
    max-width: 700px;
  }
  .form .nav {
    width: auto;
    padding: 0;
    text-align: center;
  }

  .scenic_warp > .box {
    width: 100%;
  }

  .areaBox .boxcontainer .scenic .scenic_item {
    background: #fff;
  }

  .weather .container {
    flex-direction: column;
    align-items: center;
  }
  .weather .container dl {
    margin-left: 0;
    margin-top: 6px;
  }

  .weather ul > li dl {
    padding: 0;
  }

  .weather ul + dl {
    max-width: 100%;
    margin: 0;
  }

  .weather ul > li dl {
    padding: 0;
    font-size: 14px;
  }

  .weather ul > li dl dt > span:nth-child(2) {
    display: none;
  }

  .weather ul > li dl {
    margin: 0 10px;
  }

  .item .box > li {
    width: 106px;
  }

  .scenic .randomKh_item .scenic_warp figure {
    width: 200px;
  }
}
@media screen and (max-width: 425px) {
  .form .header {
    padding: 5px;
  }
  .form .nav .item > a {
    width: auto;
  }

  .weather {
    margin: 10px;
  }

  .weather ul,
.weather ul li,
.weather ul li + li > dl,
.weather ul + dl {
    display: flex;
    text-align: center;
  }

  .weather dl {
    text-align: center;
  }

  .scenic .scenic_item {
    display: flex;
    width: auto;
  }

  .weather ul li + li,
.weather ul + dl {
    padding: 10px 0;
    border-top: 1px solid #ddd;
  }

  .weather ul + dl {
    max-width: none;
    margin: 0;
  }

  .scenic .randomKh_item .scenic_warp figure {
    width: 100%;
  }
}/*# sourceMappingURL=all.css.map */