$color_primary: #d48787;
$color_darkprimary: #ff7d8c;
$color_lightprimary: #ffd1d1;

$color_darkred: #e12f72;
$color_bluegreen: #5f9ea0;
$color_purpleli: #8a82cc;
$color_lightorange: #ffa782;
$color_lightyellow: #f5d005;
$color_lightblue: #559ac8;
$color_darkgrey: #333;
$color_darkgrey2: #959595;
$color_darkgrey3: #777;
$color_lightgrey: #ddd;
$color_lightgre2: #eee;
$color_lightgre3: #fafafa;
$color_white: #fff;
$color_black: #000;

$font-14: 14px;
$font-16: 16px;
$font-20: 20px;
$font-24: 24px;
$font-26: 26px;
$font-28: 28px;
$font-36: 36px;
